<h1>Review this site</h1>

<%= form_for [@school, @review] do |f| %> 

   	Title: <%= f.text_field :title %>
    Body: <%= f.text_field :body %>
    Rating: <%= f.text_field :rating %>
    Add Site: <%= f.submit "Publish your review" %> 

<% end %>